body {
  font-family: Lato,sans-serif;
  margin: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #006092;
  /*background-image: url(bg.jpeg);*/


}

h1 {
  margin-top: 0;
}

p {
  display: inline-block;

}

/********* Class Identifiers*********/
.style {
  margin-top: 0;
  margin-bottom: 0;
}

.firstDivision {
  background-color: #1FC4DA;
}

.secondDivision {
  cursor: pointer;
  background-color: #82EFEA;
  width: 200px;
  height: 200px;
}

.thirdDivision {
  background-color: #E9EBED;
  width: 200px;
  height: 200px;
}

/*
background-color: #006092;
background-color: #1FC4DA;
background-color: #82EFEA;
background-color: #E9EBED;

*/
